@font-face {
    font-family: Assistant;
    src: url(Assistant-Regular.ttf) format("opentype");
}
@font-face {
    font-family: Assistant-bold;
    src: url(Assistant-Bold.ttf) format("opentype");
}
@font-face {
    font-family: Assistant-extrabold;
    src: url(Assistant-ExtraBold.ttf) format("opentype");
}

html, body{
    font-family: Assistant;
    overflow: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #0c0d19;
    
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo-background{
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 2; */
}

.logo-background::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(logo.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0c0d19;
    filter: blur(8px);
    z-index: -1;
}

.title-container{
    margin-left: auto;
    background-color: #4B43EF;
    right: 0;
    width: 70%;
    height: 30%;
    padding: 5%;
    display: flex;
    align-items: center;
}

.logo{
    height: 100%;
    margin-right: 4vw;
}


@keyframes revealText {
  from {
    width: 0;
  }
  to {
    width: auto;
  }
}
.text{
    color: #f0f2ff;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    /* animation: type 4s steps(60, end); */
}

.large-text{
    font-family: Assistant-extrabold;
    font-size: 6vw;
    line-height: 10vh;
    animation: revealText 2s steps(11) forwards;
}
.small-text{
    font-family: Assistant-extrabold;
    font-size: 3.5vw;
    line-height: 10vh;
    visibility: hidden;
}

.purpose{
    z-index: 3;
    top: 100vh;
}

.blue-bar{
    width: 100%;
    height: 5%;
    background-color: #4B43EF;
    background-size: cover;
}
.content{
    background-color: #f0f2ff;
    height: 85%;
    width: 80%;
    background-size: cover;
    text-align: center;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.title{
    letter-spacing: 0.2em;
    font-size: 4vw;
    margin-bottom: 2%;
}

.purpose-content{
    font-size: 1.25vw;
    letter-spacing: 0.05em;
}

.panelist-schedule{
    height: 90%;
    background-color: #23242a;
    background-size: cover;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    overflow-y: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;
}
.panelist-schedule::-webkit-scrollbar{
    display: none;
}

.panelists{
    width: 65%;
    background-color: #4B43EF;
    background-size: cover;
    display: inline-block;
    padding: 5%;
    height: auto;
    color:#f0f2ff;
    padding-bottom: 0;
    margin-bottom: 10%
}

.panelist-container{
    padding-top: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 4%;
}

.panelist{
    flex: 33%;
    text-align: center;
    max-width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}
.panelist img{
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
    margin-bottom: 1%;
}
.name{
    font-family: Assistant-extrabold;
    font-size: 1.1vw;
    letter-spacing: 0.1em;
    margin-bottom: 1%;
}
.panelist .school{
    width: 45%;
    background-color: #c0c9ff;
    background-size: cover;
    color:#4B43EF;
    font-size: 0.9vw;
    letter-spacing: 0.05em;
    margin-bottom: 1%;
}
.panelist .study{
    letter-spacing: 0.05em;
    font-size: 0.9vw;
    max-width: 30%;
    line-height: 110%;
}

.panelist-back{
    position: absolute;

    width: 75%;
    border: 3px solid #4B43EF;

    translate: 3% 2.9%;
}

.schedule{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: Assistant-bold;
    margin-bottom: 10%;
}
.schedule .title{
    color:#f0f2ff;
}
.schedule .parallelogram{
    transform: skew(10deg);
    transform-origin: top left;
}

.schedule-row{
    display: flex;
    margin-bottom: 5%;
}
.event{
    flex: 67%;
    background-color: #c0c9ff;
    background-size: cover;
    margin-right: 5%;
    color: #4B43EF;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    line-height: 1em;
    display: flex;
    align-items: center;
}
.time{
    text-align: center;
    flex: 33%;
    background-color: #4B43EF;
    background-size: cover;
    color: #c0c9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event div, .time div{
    transform: skew(-10deg);
}

.sponsors{
    z-index: 5;
    top: 100vh;
    height: 100%;
}

.red-bar{
    width: 100%;
    height: 5%;
    background-color: #e82d48;
    background-size: cover;
}

.sponsors-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sponsor-img{
    flex: 25%;
    max-width: 25%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6%;
}

.sponsor-img img{
    max-width: 75%;
}

.clubs-container{
    z-index: 7;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 50%;
    background-color: #23242a;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.clubs-container .title{
    display: flex;
    color: #f0f2ff;
    margin-bottom: 0;
    letter-spacing: 0;
    font-family: Assistant-extrabold;
    width: 15%;
}

.clubs-icons-container{
    display: flex;
    width: 85%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding-top:10%;
    padding-bottom: 10%;
}

.club-icons-top{
    display: flex;
    padding-bottom: 0.5vw;
    justify-content:flex-start;
    align-items: flex-end;
    height: 50%;
    width: fit-content;
}
.club-icons-bottom{
    display: flex;
    padding-top: 0.5vw;
    justify-content:flex-start;
    align-items: flex-start;
    height: 50%;
    width: fit-content;
}

/* .club{
    display: flex;
    width: min-content;
    height: 75%;
} */


.club-info{
    display: flex;
    max-height: 100%;
    width: 25%;
    aspect-ratio: 1/1;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border: 2px solid #f0f2ff;
    border-radius: 8px;
}
.filler{
    display: flex;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.club-info-container{
    position: absolute;
    z-index: 8;
    background-color: #4B43EF;
    background-size: cover;
    display: flex;
    padding: 3%;
    border-radius: 36px;
    width: 50%;

    visibility: hidden;
}

.club-img{
    display: flex;
    flex:content;
    align-items: center;
    justify-content: center;
}

.club-image{
    flex-shrink: 0;
    height: 25vh;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 12px;
    border: 2px solid #f0f2ff;
}
.club-description{
    display: flex;
    flex-direction: column;
    flex: 64%;
    padding-left: 3%;
    color:#f0f2ff;
    width:max-content;
    overflow: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
}
.club-description::-webkit-scrollbar{
    display: none;
}
.club-description .title{
    letter-spacing: normal;
    font-size: 300%;
    font-family: Assistant-bold;
}
.club-description .description{

    margin-left: 4%;
    margin-bottom: 2%;
}
.club-description .contact{
    margin-left: 4%;
}
.club-description .contact .title{
    font-size: 100%;
}
.club-description .contact a{
    margin-left: -0.5%;
    color:#f0f2ff;
}
.club-description .contact .title{

    margin-bottom: 0;
}

@keyframes blur-in{
    0% {
        opacity: 1;
        filter: blur(3px);
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}
@keyframes blur-out{
    0% {
        opacity: 1;
        filter: blur(0);
    }
    100% {
        opacity: 1;
        filter: blur(3px);
        visibility: visible;
    }
}
.blur-appear{
    animation: blur-in 0.1s ease-in;
    animation-fill-mode: forwards;
}
.blur-disappear{
    animation: blur-out 0.1s ease-out;
    animation-fill-mode: forwards;
}

@keyframes enlarge {
    0% {
        opacity: 0;
        transform: scale(0.2);
        transform-origin: top;
    }
    100% {
        opacity: 1;
        transform: scale(1);
        transform-origin: top;
    }
}
@keyframes shrink {
    0% {
        opacity: 1;
        transform: scale(1);
        transform-origin: top;
    }
    100% {
        opacity: 0;
        transform: scale(0.2);
        transform-origin: top;
        visibility: hidden;
    }
}

.enlarge-appear{
    animation: enlarge 0.1s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: scale(0);
}
.enlarge-disappear{
    animation: shrink 0.1s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 1;
    transform: scale(1);
    visibility: hidden;
}

.organizer-container{
    z-index: 7;
    position: absolute;
    top: 50vh;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: #e82d48;
    background-size: cover;
}

.organizer-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.organizer-container .title{
    display: flex;
    font-family: Assistant-extrabold;
    color:#f0f2ff;
    margin-bottom: 1%;
}

.bracket{
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    width: 94%;
    height: 10%;
    margin-bottom: 0.5%;
}
.bracket img{
    width: 100%;
}

/* .bracket .operations{
    display: flex;
    height: 60%;
    width: calc(28% - 28px);
    margin-left: 1%;
    border-top: 2px solid #f0f2ff;
    border-left: 2px solid #f0f2ff;
    border-right: 2px solid #f0f2ff;
    border-bottom: none;
    z-index: 7;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.bracket .operations legend{
    margin-left: 33%;
    color: #f0f2ff;
    font-size: 1.1vw;
    transform: translate(-50%, 0%);
    background-color: #e82d48;
    padding-left: 1%;
    padding-right: 1%;
}    

.bracket .operations .role{
    position: absolute;
    left: 33%;
    transform: translate(-50%, -50%);
    background-color: #e82d48;
    padding-left: 1%;
    padding-right: 1%;
}
.bracket .finance{
    display: flex;
    height: 60%;
    width: calc(18% - 4px);
    margin-left: 2%;
    border-top: 2px solid #f0f2ff;
    border-left: 2px solid #f0f2ff;
    border-right: 2px solid #f0f2ff;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.bracket .finance .role{
    position: absolute;
    left: 33%;
    transform: translate(-50%, -50%);
    background-color: #e82d48;
    padding-left: 1%;
    padding-right: 1%;
}
.bracket .setup{
    display: flex;
    height: 60%;
    width: calc(28% - 4px);
    margin-left: 2%;
    border-top: 2px solid #f0f2ff;
    border-left: 2px solid #f0f2ff;
    border-right: 2px solid #f0f2ff;
    z-index: 7;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.bracket .setup::before,
.bracket .setup::after{
    content: "";
    position: absolute;
    left: 5%;
    width: 90%;
    height: 2px;
    background-color: #e82d48;
    z-index: 7;
}
.bracket .setup::before{
    top: -6px;
    box-shadow: 0 0 0 2px #e82d48;
}
.bracket .setup::after{
    top: 2px;
    box-shadow: 0 0 0 2px #e82d48;
}
.bracket .setup .role{
    position: absolute;
    left: 33%;
    transform: translate(-50%, -50%);
    background-color: #e82d48;
    padding-left: 1%;
    padding-right: 1%;
}

.bracket .media{
    display: flex;
    height: 100%;   
    width: calc(28% - 4px);
    margin-left: -8%;
    border-top: 2px solid #f0f2ff;
    border-left: 2px solid #f0f2ff;
    border-right: 2px solid #f0f2ff;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.bracket .media .role{
    position: absolute;
    left: 67%;
    transform: translate(-50%, -50%);
    background-color: #e82d48;
    padding-left: 1%;
    padding-right: 1%;
}


.bracket-text{
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    width: 96%;
    height: 10%;
    align-items: flex-end;
    z-index: 11;
}

.role{
    color: #f0f2ff;
    font-size: 1.1vw;
    
}
.bracket-text .operations{
    position: relative;
    display: flex;
    height: 100%;
    width: calc(28%);
    margin-left: 1%;
    justify-content: center;
    align-items: center;
    z-index: 8;
    text-align: center;
}
.bracket-text .operations .role{
    position: absolute;
    left: 33%;
    transform: translate(-50%, 0%);
    background-color: #e82d48;
    padding-left: 1%;
    padding-right: 1%;
}

.bracket-text .finance{
    position: relative;
    display: flex;
    height: 60%;
    width: calc(18%);
    margin-left: 2%;
    justify-content: center;
    align-items: center;
    z-index: 8;
    text-align: center;
}
.bracket-text .finance .role{
    position: absolute;
    left: 33%;
    transform: translate(-50%, 0%);
    background-color: #e82d48;
    padding-left: 1%;
    padding-right: 1%;
}

.bracket-text .setup{
    position: relative;
    display: flex;
    height: 60%;
    width: calc(28%);
    margin-left: 2%;
    justify-content: center;
    align-items: center;
    z-index: 9;
    text-align: center;

}
.bracket-text .setup .role{
    position: absolute;
    left: 33%;
    transform: translate(-50%, 0%);
    background-color: #e82d48;
    padding-left: 1%;
    padding-right: 1%;
    z-index: 11;
}

.bracket-text .media{
    position: relative;
    display: flex;
    height: 100%;
    width: calc(28%);
    margin-left: -8%;
    justify-content: center;
    align-items: center;
    z-index: 8;
    text-align: center;
}
.bracket-text .media .role{
    position: absolute;
    left: 67%;
    transform: translate(-50%, 0%);
    background-color: #e82d48;
    padding-left: 1%;
    padding-right: 1%;
} */

/* .bracket-text .setup-highlight{
    position: relative;
    display: flex;
    height: calc(52.5% - 0px);
    border-top: 10px solid #e82d48;
    width: 28%;
    margin-left: 12%;
    z-index: 9;
} */

.organizers{
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
}

.organizer{
    display: flex;
    flex: 8%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
}
.organizer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.organizer .name{
    color:#f0f2ff;
    line-height: 1.2em;
}

